<br><br><br><br>
<div class="text-center">
    
<main class="form-signin">
  <form #login="ngForm" (ngSubmit)="onSubmit()">



    <i class="bi-user" width="72" height="57"></i>
    <h1 class="h3 mb-3 fw-normal"> {{ (cadastrando == true) ? "Criar conta": "Entrar" }} </h1>

    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="sucesso">
      {{mensagemSucesso}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let erro of erros">
      {{erro}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="form-floating" *ngIf="cadastrando == true">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
      [(ngModel)]="usuario.username" name="email">
      <label for="floatingInput">Nome</label>
    </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
      [(ngModel)]="usuario.email" name="email">
      <label for="floatingInput">Endereco de email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
      [(ngModel)]="usuario.passwrd" name="passwrd">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> lembrar
      </label>
    </div>
    <div class="mb-1">
      <button class="w-100 btn btn-lg btn-primary" type="submit" *ngIf="!cadastrando">
        Entrar
      </button>
    </div>

    <div class="mb-1">
      <button class="w-100 btn btn-lg btn-primary" type="submit" *ngIf="cadastrando" 
      (click)="cadastrar()">
       Cadastrar
      </button>
    </div>
    
    <div class="mb-3">
      <a class="w-100 btn btn-lg btn-light"  role="button" (click)="preparaCadastrar($event)"
      *ngIf="!cadastrando">
        Criar nova conta
      </a>
    </div>
    <div class="mb-3">
      <a class="w-100 btn btn-lg btn-light"  role="button" (click)="cancelar()"
      *ngIf="cadastrando">
        Cancelar
      </a>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>

</div>