<br><br><br><br>
<div class="container col-sm-6">
    <h1> Cadastro de servicos prestados</h1>
    
    <form #servicoPrestadoForm="ngForm" (ngSubmit)="onSubimit()">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Data</label>
            <input type="date" class="form-control" id="exampleFormControlInput1"
            [(ngModel)]="servicoPrestado.data" name="data">
          </div>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example"
            [ngModelOptions]="{standalone: true}" 
            [(ngModel)]="servicoPrestado.cliente.idCliente">
                <option value="0">Seleciona um cliente</option>
                <option *ngFor="let cliente of clientes" [ngValue]="cliente.idCliente"> 
                  {{cliente.nome}}
                </option>
              
            </select>
          </div>
    
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Valor</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" 
            [(ngModel)]="servicoPrestado.valor" name="valor">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            [(ngModel)]="servicoPrestado.descricao" name="descricao"></textarea>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-success">Salvar</button>
          </div>
    </form> 
</div>