<br><br><br>
<div class="container-fluid">

    <h1>Lista de Prestação de servicos</h1>
    <form>
      <div class="row">
        <div class="col mb-3">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </div>
          <div class="col">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </div>
      </div>
      <div class="mb-3">
        <select class="form-select" aria-label="Default select example"
        [ngModelOptions]="{standalone: true}" 
        [(ngModel)]="servicoPrestado.cliente.idCliente">
            <option value="0">Seleciona um cliente</option>
            <option *ngFor="let cliente of clientes" [ngValue]="cliente.idCliente"> 
              {{cliente.nome}}
            </option>
          
        </select>
      </div>

    </form>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Cliente</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data Prestado de Servico</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
</div>