<br><br><br>

<div class="container">
    <h1>Formulário de clientes</h1>
    <h2>{{ cliente.idCliente ? 'Editar': 'Cadastrar'}}</h2>
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="alert alert-success text-center" role="alert" *ngIf="success == true">
            {{ (cliente.idCliente == 0) ? 'Cliente atualizado com sucesso':'Cliente Salvo com sucesso.'}}
        </div>

        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
            {{ error }}
        </div>

    <div >
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">ID</label>
            <input type="name" class="form-control" id="exampleFormControlInput1" 
            placeholder="ID" [(ngModel)]="cliente.idCliente" name="idCliente" disabled="true">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Data de Cadastro</label>
            <input type="date" class="form-control" id="exampleFormControlInput1" 
            [ngModel]="cliente.dataCadastro" name="dataCadastro" disabled="true">
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nome <span class="text-danger">*</span></label>
        <input type="name" class="form-control" id="exampleFormControlInput1" 
        placeholder="Seu nome" [(ngModel)]="cliente.nome" name="nome">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">BI <span class="text-danger">*</span></label>
        <input type="name" class="form-control" id="exampleFormControlInput1" 
        [(ngModel)]="cliente.bi" name="bi" placeholder="Seu Bilhete de Identidade.">
    </div>
    <div class="d-grid gap-2 ">
        <button type="submit" class="btn btn-success" > 
            <i class="bi-save-fill"></i> 
            {{ cliente.idCliente ? 'Concluir edição': 'Salvar agora' }}
        </button>
        <button class="btn btn-warning" (click)="voltarParaListaCliente()"> 
            <i class="bi-arrow-left-circle-fill"></i> 
            Voltar para lista de clientes
        </button>
    </div>
    </form>

</div>
